#alexselfie{
  filter: sepia(80%);
  opacity: 0.6;
  transition: 0.3s;
}
#alexselfie:hover{
        opacity: 1;
        transform: scale3D(1.1,1.1,1.1);}

#marine img
    {
        filter: saturate(250%);
        transition: 1s;
    }

#marine img:hover
    {
        filter: saturate(100%);
        transform: rotate(360deg);
        transition: 1s;
    }

#yver img{
    filter: contrast(50%);;
    transition: all 1s;
    transition-timing-function: ease-in-out;
}
#yver img:hover{
    filter: contrast(150%);
    transform: rotate(10turn);
}

#loic img{
    filter: grayscale(100%);
    transition: all 1s;
    &:hover {
        transform: rotate(360deg) rotateX(360deg);
      } 
  }

#jg {
    filter: sepia(50%);
    transform: rotateX(-360deg) scale3d(1, 1, 1);
    transition: 0.5s;
}
#jg:hover {
    filter: sepia(100%);
    transform: rotateX(360deg) scale3d(1.5, 1.5, 1.5);
    transition: 0.5s;
}



