
<<<<<<< HEAD



#florent {
  filter: sepia(10%);
  transition: all 0.4s;
}

#florent:hover {
    filter: sepia(100%);
    transform:rotateX(360deg);
=======
#loic img{
    filter: grayscale(100%);
    transition: all 1s;
    &:hover {
        transform: rotate(360deg) rotateX(360deg);
        
      } 
  }


#jg {
    filter: sepia(50%);
    transform: rotateX(-360deg) scale3d(1, 1, 1);
    transition: 0.5s;
}
#jg:hover {
    filter: sepia(100%);
    transform: rotateX(360deg) scale3d(1.5, 1.5, 1.5);
    transition: 0.5s;
}

#fernandes {
    filter: sepia(100%);
    transform: rotateX(-180deg) rotateY(-180deg) rotateX(-180deg) rotateY(-180deg) scale3d(1, 1, 1);
    transition: 0.5s;
}

#fernandes:hover {
        filter: sepia(0%); 
        transform: rotateX(180deg) rotateY(180deg) rotateX(180deg) rotateY(180deg) scale3d(1.5, 1.5, 1.5);
        transition: 0.5s;
>>>>>>> 97c5b50ee48aab2b272db4cc21c2dff7f4cd828a
}

