#fernandes {
    filter: sepia(100%);
    transform: rotateX(-180deg) rotateY(-180deg) rotateX(-180deg) rotateY(-180deg) scale3d(1, 1, 1);
    transition: 0.5s;
}

#fernandes:hover {
        filter: sepia(0%); 
        transform: rotateX(180deg) rotateY(180deg) rotateX(180deg) rotateY(180deg) scale3d(1.5, 1.5, 1.5);
        transition: 0.5s;
}
