.section-parallax {
    background-position: center bottom;
    background-size: cover;
}

.nav-tabs .nav-link {
    color:#fff;
}
.nav-tabs .nav-link.active {
    background-color: #f3f3f3 !important;
    border-bottom-color: black;
}

.liens {
    margin-top: 2%;
}

.logo {
    height: 22px;
}
/* 
#matthiasPellacoeur{
    transition: ;
} */

#matthiasPellacoeur:hover{
    transform: rotate3d(1, 1, 1, 360deg);
    transition: ease-in-out 1s;
}