.page {
    width: 640px;
    margin: auto;
    font-size: 16px;
    font-family: 'source sans Pro',Calibri,Tahoma,sans-serif;
    
}

.infophoto {
    height: 200px;
}

.info {
    float: left;
}

.photo {
    float: right;
}

.section {
    margin-bottom: 70px;
}

.sec-gauche {
    float: left;
}

.sec-droite {
    margin-left: 70px;
}

h2{
    color: #b87777;
}


html, body, .menu {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  background: rgb(80, 41, 41);
  color: #888;
  font-size: 16px;
  font-weight: 300;
        
    }
    .menu-toggle {
      transform: rotate(90deg);
      background: rgba(240, 216, 216, 0.664);
    }
      .menu-toggle:hover {
        background: lighten(#999) 10%;
      }
      
        .hamburger-bar:nth-child(1) {
          transform:  translate(0,13px) rotate(45deg);
        }
        .hamburger-bar:nth-child(2) {
          opacity: 0;
          transform: translate(-200%,0);
        }
        .hamburger-bar:nth-child(3) {
          transform:  translate(0,-13px) rotate(-45deg);
        }
        .site-wrap {
            position: relative;
            z-index: 2500;
            transition: all .5s ease;
            background: #d4aaaa;
            box-shadow: 0 0 15px fade(#000,20%);
          }
            .site-wrap:after {
              display: table;
              clear: both;
            }
          
          .menu-toggle {
            overflow: hidden;
            display: block;
            position: fixed;
            z-index: 2510;
            left: 100px;
            width: 20px;
            height: 200px;
            border-radius: 30%;
            background: darken(#d89696, 5%);
            cursor: pointer;
            transition: all .4s ease;
            padding: 30px 25px;
          }
            .menu-toggle:hover {
            background: #d89696;
            }
            .hamburger-bar {
              display: block;
              height: 1px;
              background: rgb(226, 153, 153);
              margin-bottom: 1.5em;
              transition: all .5s ease;
            }
          .menu {
            position: fixed;
            z-index: 5000;
            top: 0;
            bottom: 0;
            left: 2px;
            width: 5px;
            background: rgb(202, 148, 148);
            transition: all .5s ease;
          }
            .heading {
              display: block;
              margin: 0;
              border-bottom: 1px solid #eee;
              padding: 0 10px;
              line-height: 100px;
              text-align: center;
              font-weight: 100;
              font-size: 40px;
              color: rgb(97, 59, 59);
              transform: translate3d(menu-width,0,0);
              width: 2;
            }
          
          .site-title {
            text-align: center;
            margin: 0;
            padding: 100px 0;
            font-weight: 100;
            font-size: 50px;
            color: rgb(59, 57, 57);
            background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.685)), to(#f0f0f0));
          
          }
          
          .box {
            background: rgba(243, 234, 234, 0.815);
            padding: 50px;
            text-align: center;
            margin-bottom: 30px;
          }
    




