[submodule "public-html/promo1/gael-debost/mini-chat"]
	path = public-html/promo1/gael-debost/mini-chat
	url = https://github.com/zzgael/mini-chat.git
[submodule "public-html/promo1/loretzin-alexandre/Exercice-Mini-Chat"]
	path = public-html/promo1/loretzin-alexandre/Exercice-Mini-Chat
	url = https://github.com/Alexandre-Loretzin/Exercice-Mini-Chat
