.section-parallax{
    background-position:center bottom;
    background-size:cover;
}
.nav-tabs .nav-link.active{
    background-color: #f3f3f3 !important;
    border-bottom-color: black;
}
.img-fluid {
    border-radius: 50px;
}
