ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-left: 490px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
    opacity: 0.5;
}

header.navPage {
    background-image: url("ok.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

h2.moi {
    text-align: center;
    color: white;
    margin-top: 100px;
    font-family: monospace;
    font-size: 40px;
    font-family: "purisa", sans-serif;
}

.propos {
    margin-bottom: 15px;
    text-align: center;
    font-size: 45px;
    line-height: 40px;
    color: #2c3e50;
    position: relative;
    margin-top: 45px;
}

.row {
    margin-top: 64px;
}

.lapin {
    margin-top: -233px;
    margin-right: -115px;
    margin-left: -22px;
}

.triangle {
    margin-top: -125px;
    margin-left: 0px;
}

.B {
    color: #2c3e50;
}