@charset "UTF-8";

body, html
{
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	
}
@media screen and (max-width: 1024px)
{
	.banner h1
	{

		 font-size: 0.8em;
		margin-bottom: 15px;
		width: auto;
		position: relative;
		
		
	}

	.menu a
	{
		font-size: 0.7em;

	}
	#conteneur h2
	{
		word-wrap: normal;
	}

}
.container-fluid
{
	padding: 0;
}
a, a:hover
{
	text-decoration: none;
}
.separateur
{
	height: 3px;
	width: 5%;
	border: none;
	box-shadow: none;
	background-color: #349BDB;

}
.separateur2
{
	height: 3px;
	width: 5%;
	border: none;
	box-shadow: none;
	background-color: #349BDB;
	margin-top: 40px;
}
.separateur3
{
	height: 3px;
	width: 5%;
	border: none;
	box-shadow: none;
	background-color: #349BDB;
	margin-top: 40px;
	margin-bottom: 20px;
}
/* header */

.header
{
	background-color: #24A1FF;
	height: 70px;
	line-height: 70px;
}
.menu
{
	float: right;

}
.menu a
{
	color: white;
	margin-right: 50px;
}
.menu a:hover
{
	color: #FF7602;
}
.logo
{
	margin: 40px;
	color: white;
	text-decoration: none;
}

/* bannière */

.banner
{
	width: 100%;
	max-width: 100%;
	position: relative;
}
.ban
{
	width: 100%;
	max-width: 100%;
	position: relative;
}
.photo 
{
	left: 10px;
	top: 10px;
	position: absolute;
	width: 200px;
	height: 200px;
	border-radius: 50% !important; 
	border: 2px  solid white;
	box-shadow: 1px 1px 1px white;
}
.ban img
{
	
	max-width: 100%;
	
}
.text-banner
{
	color: white;
	position: absolute;
	top: 40%;
	font-size: 1.9em;
	width: 100%;
	text-align: center;
	
	
}
.text-banner h1
{
	color: white;
	text-shadow: 2px 2px 2px #030101;


}
.text-banner .btn-custom
{
	background-color: #3498DB;
	color: white;
	border-radius: 7px;
}
.text-banner .btn-custom:hover
{
	background-color: #2C3E50;

}

/* a propos */
#about
{
	text-align: center;
	padding: 10px;

}

#conteneur
{
	display: flex;
	justify-content: space-around;
	margin-top: 30px;

}
.element
{
	
	max-width: 20%;
	padding-right: 50px;
	padding-left: 50px;
	text-align: center;
	word-wrap: break-word;

}
.element h2
{
	text-decoration: underline;
	text-shadow: 1px 1px 7px;
}


/* portfolio */

.portfolio
{
	background-color: #eeeeee;
	font-size: 1.1em;
	text-align: center;
	height: 500px;
	
}
.portfolio .item-folio
{
	height: 350px;
	background-color: #3498DB;
	margin-left: 15%;
	margin-right: 15%;
}

/* footer */

.footer
{
	background-color: #2C3E50;
	height: 400px;
}
#contact
{
	color: white;
	text-align: center;
}
.formulaireContact
{
	margin-left: 20%;
	width: 500px;
	display: block;
	margin: 0 auto;
}
input[type=email]
{
	height: 50px;
	width: 500px;
	border: none;
}
input[type=text]
{
	height: 50px;
	width: 500px;
	border: none;
}

input
{
	margin-bottom: 20px;

}
textarea
{
	width: 500px;
	height: 100px;
	resize: vertical;
}
#contact-submit
{
	float: right;
	background-color: #3498DB;
	border-radius: 4px;
	color: white;
}
#contact-submit:hover
{
	background-color: #2C3E50;
}
.btn-fb
{
	margin-left: 10px;
	margin-top: 20px;
	color: white;
}